.button {
    color: white;
    background-color: rgb(221, 132, 2);
    border-color: rgb(168, 100, 0);
    font-size: 14px;

    &--newsletter {
        margin: 15px 0px 30px;
        padding: 5px;
        width: 180px;
        border-radius: 5px;
    }

    &--service {
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 40px;
        border-radius: 10px;
    }

    &--item {
        align-items: center;
        height: 30px;
        width: 40%;
        margin-top: 10px;
        border-radius: 10px;
    }

    &--membership {
        position: absolute;
        margin-top: 20px;
        right: 60px;
        height: 30px;
        border-radius: 10px;
    }
}