
.checkout {

    font-family: Montserrat,Arial,Verdana,sans-serif;
    display: flex;
    font-size: 14px;
    align-items: flex-start;
    width: 100%;
    margin: 25px 0px;

    &__list{
        width: 60%;
        margin-left: 5%;
    }
    
    &__summary {

        margin-right: 5%;
        width: 20%;
        background-color: white;
        padding: 25px;

        position: absolute;
        right: 0;
    }

    &__total {
        font-family: Mazzard,Arial,Verdana,sans-serif;
        color: rgb(221, 132, 2);
        font-size: 22px;
    }

    &__send {
        color: white;
        background-color: rgb(59, 116, 240);
        border-color: rgb(42, 95, 211);
        font-size: 12px;
        font-family:Montserrat,Arial,Verdana,sans-serif;
    }

}

.cartProduct {

    background-color: whitesmoke;
    display: flex;
    position: relative;
    margin-bottom: 10px;

    &__img {
        object-fit: cover;

        height: 100%;
        max-height: 150px;
        min-height: 150px;

        width: 100%;
        max-width: 220px;
        min-width: 220px;
    }

    &__info {
        margin-left: 25px;
    }

    &__del {
        top: 10px;
        right: 10px;
        position: absolute;
        background-color: rgb(177, 65, 65);
        border-color: rgb(138, 41, 41);
        color: rgb(138, 41, 41);
        border-radius: 5px;
    }

    &__name {
        color: rgb(221, 132, 2);
    }

}

.field {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 10px;
}