.membership {

    width: 70%;
    height: 420px;
    margin-left: 15%;
    font-size: 14px;
    background-color: white;
    align-items: center;
    display: flex;
    color: rgb(174, 174, 174);

    &__margin {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &__current {
        display: flex;
        transition: transform 1s ease-in-out;
        height: 420px;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }

    &__thumbs {     
    
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 20px;
    }

    &__thumbs input {
        display: none;
    }
    
    &__thumb {
        border: 2px solid #00365C;
        border-radius: 10px;
        padding: 5px;
        transition: 1s;
        cursor: pointer;
    }

    &__thumb:hover{
        background: #00365C;
    }

    &__thumb:not(:last-child){
        margin-right: 20px;
    }

    &__content {
        padding: 50px;
        justify-content: space-between;
        position: relative;
    }

    &__name {
        color: rgb(50, 50, 50);
        font-size: 16px;
    }

    #membership:checked {
        background: rgb(221, 132, 2);
        border: 5px solid rgb(168, 100, 0);
    }
    #newsletter:checked {
        background: rgb(221, 132, 2);
        border: 5px solid rgb(168, 100, 0);
    }
}
