.membership {

    width: 70%;
    height: 420px;
    background-color: white;
    margin-left: 15%;

    &__current {
        display: flex;
    }

    &__img {
        height: 420px;
        object-fit: cover;
    }
}