.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
  height: 240px;
}

.service__name {
  font-family: Mazzard,Montserrat,Arial,Verdana,sans-serif;
}

.service__current {
  height: 100%;
  width: 100%;
  min-width: 360px;
  max-width: 360px;
  overflow: hidden;
}

.service__thumb {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.service__data {
  width: 60%;
}

.service__description {
  color: #aeaeae;
  font-size: 14px;
}

.Diaphragm__tittle {
  font-size: 20px;
  font-family: Mazzard,Montserrat,Arial,Verdana,sans-serif;
}

.Diaphragm__description {
  color: #aeaeae;
  font-size: 14px;
}

.Diaphragm__division {
  width: 100%;
  height: 1px;
  margin: 100px 0px;
  background-color: #aeaeae;
}

.Diaphragm__presentation {
  width: 100%;
  height: 720px;
  background-image: url("../data/fondo.jpg");
  background-size: cover;
}

.Diaphragm__firstAction {
  padding: 50px;
}

.Diaphragm__logo {
  width: 184px;
  height: 70px;
}

.Diaphragm__guide {
  background-color: white;
  width: 100%;
}

.Diaphragm__guideMargin {
  padding: 20px;
}

.Diaphragm__webGuide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin: 0px 30px;
}

.Diaphragm__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  padding: 25px;
  width: 70%;
}

.Diaphragm__pagGuide {
  text-decoration: none;
  margin: 0px 30px;
  font-size: 16px;
}

.Diaphragm__pagNavegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.Diaphragm__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Diaphragm__content {
  padding: 50px;
  font-family: Montserrat,Arial,Verdana,sans-serif;
}

.Diaphragm__contentItem {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Diaphragm__aboutUs {
  margin-top: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Diaphragm__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Diaphragm__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: white;
  background-color: #00365c;
  padding: 20px;
}

.Diaphragm__location {
  margin-left: 30px;
}

.Diaphragm__social {
  margin-left: 80px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  width: 30%;
}

.newsletter__img {
  width: 100%;
  height: 240px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.newsletter__data {
  width: 80%;
}

.newsletter__name {
  font-family: Mazzard,Montserrat,Arial,Verdana,sans-serif;
}

.newsletter__description {
  color: #aeaeae;
  font-size: 14px;
}

.button {
  color: white;
  background-color: #dd8402;
  border-color: #a86400;
  font-size: 14px;
}

.button--newsletter {
  margin: 15px 0px 30px;
  padding: 5px;
  width: 180px;
  border-radius: 5px;
}

.button--service {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 40px;
  border-radius: 10px;
}

.button--item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 40%;
  margin-top: 10px;
  border-radius: 10px;
}

.button--membership {
  position: absolute;
  margin-top: 20px;
  right: 60px;
  height: 30px;
  border-radius: 10px;
}

.membership {
  width: 70%;
  height: 420px;
  margin-left: 15%;
  font-size: 14px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aeaeae;
}

.membership__margin {
  height: 100%;
  width: 336px;
  position: relative;
}

.membership__img {
  height: 100%;
  width: 100%;
  min-width: 336px;
  max-width: 336px;
  -o-object-fit: cover;
     object-fit: cover;
}

.membership__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.membership__thumbs input {
  display: none;
}

.membership__thumb {
  border: 2px solid #00365C;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.membership__thumb:hover {
  background: #00365C;
}

.membership__thumb:not(:last-child) {
  margin-right: 20px;
}

.membership__content {
  padding: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.membership__name {
  color: #323232;
  font-size: 16px;
}

.membership #membership:checked {
  background: #dd8402;
  border: 5px solid #a86400;
}

.membership #newsletter:checked {
  background: #dd8402;
  border: 5px solid #a86400;
}

.productForm {
  width: 70%;
  background-color: white;
  padding: 25px;
  margin: 25px 15%;
}

.productForm__label {
  display: block;
  margin-top: 10px;
}

.productForm__label--checkbox {
  margin-top: 2px;
}

.productForm__input {
  display: block;
}

.productForm__success {
  color: green;
}

.productForm__error {
  color: red;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.productForm__image {
  height: 150px;
  margin: 10px;
}

.hidden {
  display: none !important;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  margin: 0 25px;
}

.product {
  display: block;
  background-color: whitesmoke;
  width: 400px;
  margin: 20px;
}

.product__data {
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: none;
}

.product__img {
  width: 100%;
}

.product__info {
  padding: 5px;
  margin: 10px 5%;
}

.product__name {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #dd8402;
  text-align: center;
}

.product__price {
  margin: 0;
  color: #dd8402;
  text-align: center;
}

.product__buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.product:hover {
  background-color: gray;
}

.productForm {
  width: 70%;
  background-color: white;
  padding: 25px;
  margin: 25px 15%;
}

.productForm__label {
  display: block;
  margin-top: 10px;
}

.productForm__label--checkbox {
  margin-top: 2px;
}

.productForm__input {
  display: block;
}

.productForm__success {
  color: green;
}

.productForm__error {
  color: red;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.productForm__image {
  height: 150px;
  margin: 10px;
}

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
  margin-top: 5%;
  font-size: 16px;
  padding: 20px;
  background-color: white;
  color: #aeaeae;
}

.productInfo__final {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  padding: 20px;
  background-color: white;
  margin: 10% auto;
  width: 100%;
  max-width: 400px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.checkout {
  font-family: Montserrat,Arial,Verdana,sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkout__summary {
  background-color: white;
  padding: 25px;
  margin: 25px 5%;
  position: absolute;
  right: 0;
}

.field {
  margin: 10px 0;
}

.field__input {
  width: 100px;
}

.cartProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin: 25px 5%;
  width: 1250px;
}

.cartProduct__img {
  height: 100%;
  max-height: 200px;
}

.cartProduct__info {
  padding: 10px;
}

body {
  font-family: Mazzard,Montserrat,Arial,Verdana,sans-serif;
  background-color: #e5e5e5;
  color: #323232;
  font-size: 20px;
  margin: 0%;
}

@font-face {
  font-family: "Mazzard";
  src: url("../data/fonts/MazzardH-Bold.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../data/fonts/Montserrat-Regular.ttf");
}
/*# sourceMappingURL=main.css.map */