@import 'service';
@import 'Diaphragm';
@import 'item';
@import 'newsletter';
@import 'button';
@import 'membership';
@import 'productForm';


body {

    font-family:RobotoCondensed,Futura,Arial,Verdana,sans-serif;

    background-color: rgb(229, 229, 229);
    color: rgb(50, 50, 50);
    font-size: 20px;
    margin: 0%;
    
}