.productForm {

    width: 70%;
    margin-left: 15%;

    &__label {
        display: block;
        margin-top: 10px;

        &--checkbox {
            margin-top: 2px;
        }
    }

    &__input {
        display: block;
    }

    &__success {
        color: green;
    }

    &__error {
        color: red;
    }

    &__images {
        display: flex;
        margin-right: 10px;
    }

    &__image {
        height: 150px;
        margin: 10px;
    }

}